p {
    font-family:"Candara"; size:20px; text-align:center;
    
}

h1 {
    font-family:"Candara"; size:36px; text-align:center;
}

table {
    float:center; font-family:"Candara";
}

div#header {
    background:#00CED1;
    color:#00CED1;
    width:100%;
    height:100px;
    position:fixed;
}
